<html>
    
    
        <body>
        <form method = "post" action="/predict"> 
            <input type = "number" name="FA" placeholder = "fixed acidity" required="required">
            <input type = "number" name="VA" placeholder = "volatile acidity" required="required">
            <input type = "number" name="CA" placeholder = "citric acid" required="required">
            <input type = "number" name="RS" placeholder = "residual sugar" required="required">
            <input type = "number" name="Chlorides" placeholder = "chlorides" required="required">
            <input type = "number" name="FSD" placeholder = "free sulfur dioxide" required="required">
            <input type = "number" name="TSD" placeholder = "total sulfur dioxide" required="required">
            <input type = "number" name="Density" placeholder = "density" required="required">
            <input type = "number" name="Ph" placeholder = "pH" required="required">
            <input type = "number" name="sulphates" placeholder = "sulphates" required="required">
            <input type = "number" name="Alcohol" placeholder = "alcohol" required="required">
            
            <button>
            Submit Credentials
            </button>
        </form>
        </body>
    
</html>